<%- include('./components/_header.ejs' , {title : 'Aliger | Logística y Distribución'}) %>
<div class="hero full-width">
</div>

<style>
  .hero{
    height: 80vh;
    height: 80svh;
    background-image: url("/img/tandil-min.svg");    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>