<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="./register" method="post">
    <label for="">Nombre</label>
    <input type="text" name="nombre">
    <label for="">Nombre de usuario</label>
    <input type="text" name="username">
    <label for="">Contraseña</label>
    <input type="text" name="password">
    <label for="">Mail</label>
    <input type="mail" name="mail">
    <label for="">Telefono</label>
    <input type="text" name="telefono">
    <input type="submit" value="Enviar">
  </form>
</body>
</html>