<%- include('./_head.ejs',{ title }) %>
<header anner-header class="content-grid">
  <div class="contact full-width">
    <a href="#">2494 111 111</a>
    <a href="/login">¿Sos cliente? Acceder</a>
  </div>
    <main>

      <label for="hamb">
        <div class="line"></div>
        <div class="line"></div>
        <input type="checkbox" name="hamb" id="hamb">
      </label>

    <a href="/">
      <img src="/img/aliger-logo.jpg" alt="Logo de Aliger">
    </a>

    <form action="/buscar" method="post" role="search">
      <input type="text" placeholder="Buscar">
      <button type="submit"><img src="/img/lupa.png" alt=""></button>
    </form>

  </main>

  <div class="full-width links">
    <nav>
      <a href="/">Inicio</a><a href="/">Catálogo</a><a href="about">Acerca de nosotros</a><a href="">Contacto</a>
    </nav>
  </div>

</header>

<main class="content-grid">
<style>
  [anner-header]{
    background-color: var(--clr-background);
    position: sticky;
    row-gap: 1rem;
    z-index: 99999;

    &.active{
      top : var(--_top);
    }

    & .contact {
      grid-template-rows: 0;
      background-color: var(--clr-background-shade);
      padding-block: .4rem;

      transition: grid-template-rows .5s ease-out;

      & [href="/login"]{
        justify-self: end;
      }

      & a:hover{
        text-decoration: underline;
      }
    }
    
    & main{
      display: grid;
      grid-template-columns: 0 auto 1fr;
      grid-template-rows: 1fr;
      justify-items: center;
      align-items: center;

      & label[for="hamb"]{
        display: hidden;
        pointer-events: none;

          & input[type="checkbox"]{
            display: none;
          }
      }



      & a {

        display: inline-flex;

        justify-content: center;
        align-items: center;

        & img {
        height: 40px;
      }
      }



        & form {
          display: flex;
          justify-self: end;
          position: relative;

          --_r : 15px;

          &>* {
            padding: 8px 15px;
            border: 1px solid var(--clr-gray);
          }

          & input {
            border-radius: var(--_r);
            padding-right: 50px;
          }

          & button {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: var(--_r);
            background-color: var(--clr-primary);
            cursor: pointer;

            position: absolute;
            right: 1px;
            top: 50%;

            translate: 0 -50%;

            &:hover,&:focus{
              background-color: var(--clr-primary-shade);
              & img{
              animation: shake .35s ease-in;
              animation-iteration-count: 2;
              animation-delay: .1s;
              }
            }

            & img{
              height: 1rem;
              transform-origin: bottom right;
            }

          }
        }
      
    }

    & .links {
      background-color: var(--clr-primary);


      & nav {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(max(12vw,120px),1fr));
        
        & a {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: .5rem 2rem;

          text-align: center;
          text-wrap: balance;

          background-color: var(--clr-primary);
          color: white;
          
          font-size: var(--fs-200);
          &:hover{
            background-color: var(--clr-primary-shade);
          }
        }
      }

    }
  }

  @keyframes shake {
    0%,75%,100%{
      rotate: 0deg;
    }
    25%{
      rotate: 10deg;
    }
  }

  @media screen and (max-width : 813px) {
  
    [anner-header]{

      border-bottom: 2px solid var(--clr-background-shade);
      & .contact{
        display: none;
      }
      
      & main{
        grid-template-columns: 1fr 2fr 1fr;

        padding-block: 1rem;

        & label[for="hamb"]{
            position: relative;
            pointer-events: all;
            width: 35px;
            aspect-ratio: 1;
            gap: 4px;

            & .line{
              --distance : 13.5px;
              position: absolute;
              left: 0;
              width: 100%;
              background-color: var(--clr-primary);
              height: 3px;
              transition: width .3s .2s ,rotate .3s, top .3s;
              border-radius: 3000px;
              
              &:nth-child(1){
                top: var(--distance);
              }
              
              &:nth-child(2){
                width: 25px;
                bottom: var(--distance);
              }
            }
            
            & input[type="checkbox"]{
              display: hidden;
            }
            
            &:has(input[type="checkbox"]:checked) .line{
              transition: width .3s .3s ,rotate .3s .3s, top .3s;
              width: 100%;
              top: 50%;
              rotate: 45deg;

              &:nth-child(2){
                rotate: -45deg;
              }

            }

          }

          & >a{
            margin-block: auto;
          }

          & [role="search"]{
            width: 10px;
            overflow: hidden;
            visibility: hidden;
          }
      }

      & .links{
        display: none;
      }

    }

  }
</style>

<script src="/js/_header.js"></script>
